a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.logo__section {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo__section img {
  height: 47.5px;
}

.logo__section h1 {
  color: whitesmoke;
  margin-left: 1rem;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 5px;
}

.menu__action-bottons {
  color: whitesmoke;
}

.active-button {
  color: rgb(255, 132, 132);
  font-size: 17px;
}

.mat-toolbar {
  background-color: #4d60bd !important;
}

.menu__action-bottons {
  margin-left: auto;
}

.menu__logout-botton {
  color: rgb(82, 82, 82);
}
