<section class="section section-hero">
  <div class="container text-center">
    <p class="mat-display-1 container text-center hero-text">
      PQuest, Photo Quest is an app where you can store all your precious memories without being spied-on by others.
      In Pquest you can store HD pictures with title and description of the picture and retrieve at your convenience
      from anywhere you want with no cost involved, up to 15GB.
    </p>
    <p class="mat-display-1 container text-center hero-text">
      Enjoy the free tier and if you like, which we are sure you will, you can go for the paid version.
      Paid version comes with feature like connecting with Cloud storage, easy to share the image to any medium, backup
      sync feature, gallery, and several other features.

    </p>
  </div>
</section>