<div class="post-list" layout="row">
    <!-- Loader here -->
    <ngx-ui-loader></ngx-ui-loader>
    <mat-accordion *ngIf="posts.length > 0">
        <mat-expansion-panel class="post__card" *ngFor="let post of posts">
            <mat-expansion-panel-header class="post__title">
                <h3>{{post.title}}</h3>
                <p><span class='post__author'> Author: {{post.authorName }} </span> <span class='post__time'> Created:
                        {{post.createdAt | amTimeAgo  }}</span> </p>
            </mat-expansion-panel-header>
            <div class="post__body">
                <div class='post-image'>
                    <img [src]="post.imagePath" (click)="openDialog(post)" [alt]="post.title">
                </div>
                <p class="post__text"> {{post.content}} </p>
            </div>

            <mat-action-row *ngIf='userIsAuthenticated && userId === post.author'>

                <a mat-button color="primary" [routerLink]="['/edit', post.id]"> EDIT </a>
                <button mat-button color='warn' (click)="onDelete(post.id)"> DELETE </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator [length]='totalPost' [pageSize]='postsPerPage' [pageSizeOptions]='pageSizeOption'
        (page)="onChangePage($event)" *ngIf="posts.length > 0"></mat-paginator>
    <p class="info-text mat-body1" *ngIf="posts.length <= 0" > No post added yet! </p>
</div>